@import "tailwindcss";

@theme{
    --my-rotate-y-180:transform: "rotateY(180deg)";

    --color-primary:#9FF19B;
    --color-text:#333333;
    --color-second:#88E494;
    --color-third:#f2eee9;
    

}
.block_point {
    animation: appear linear;
    animation-timeline: view(); 
    animation-range: entry 30%;
}
@keyframes appear {
    from{
        opacity: 0;
        scale: 0.5;
    }to{
        opacity: 1;
        scale: 1;
    }
}
